<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1><%= header %></h1>
                    <img src="<%=img%>" width="400px" height="300px" alt="">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="well">
                    <h3>Heighlight</h3>
                    <ul>
                        <%for(let i =0;i<3 ;i++) { %>
                            <li>
                                <p><%= heighlight[i] %></p><br><br>
                            </li>
                        <% }; %>
                    </ul>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>