<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Top Seven Pizza Brands in India</h1>
            <p>
                <%= tagline %>
            </p>
            <ul>
                <% for(var i=0;i < 3 ; i++) { %>
                    <li>
                        <strong>
                            <%= pizzaList[i][0] %>
                        </strong><br><br>
                        <img src="<%= pizzaList[i][1] %>" alt="">
                        <p>
                            <%= pizzaList[i][2] %>
                        </p>
                    </li>
                    <% }; %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>